Name: Kamran Qureshi

# Exercise 04 - Due Friday, October 21 at 12pm

*Objectives*: Gain experience loading a CSV dataset into a database model you define yourself and using SQL to explore its contents. Explore the data by writing and executing a number of SQL queries using common syntax and functions and describing your findings.

*Grading criteria*: The tasks should all be completed, and questions should all be answered with SQL queries in the space provided, unless a text answer is requested. Results should be correct, according to the embedded tests. The notebook itself should be completely reproducible; from start to finish, another person should be able to use the same code to obtain the same results as yours.  Note that you will receive no more than partial credit if you do not add text/markdown cells explaining your thinking at each major step in each problem.

*Deadline*: Friday, October 21, 12pm. Submit your notebook to Blackboard and push it to your GitHub repository.

## Setup - obtain data and create database

The US City Open Data Census has data on [restaurant inspections from all over the country](http://us-city.census.okfn.org/dataset/food-safety).  Let's take a look at data from Albuquerque.  *Note*: metadata and other details for this dataset are available at http://data.cabq.gov/business/foodinspections/.

Fyi, to save you a step, I've converted this file into a clean CSV file by using the `dos2unix` command to change its line endings and to switch it to use commas instead of tabs using `csvformat -t inputfile.csv > outputfile.csv`.

First we download the dataset:

In [1]:
!wget https://raw.githubusercontent.com/gwsb-istm-6212-fall-2016/syllabus-and-schedule/master/exercises/abq-food-inspections-fy2010.csv

--2016-10-24 06:49:43--  https://raw.githubusercontent.com/gwsb-istm-6212-fall-2016/syllabus-and-schedule/master/exercises/abq-food-inspections-fy2010.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.32.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.32.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5025226 (4.8M) [text/plain]
Saving to: ‘abq-food-inspections-fy2010.csv.1’

abq-food-inspection 100%[=====================>]   4.79M  --.-KB/s   in 0.1s

2016-10-24 06:49:43 (41.3 MB/s) - ‘abq-food-inspections-fy2010.csv.1’ saved [5025226/5025226]

## Problem 1 - examine the data (35 points)

Use `csvstat` and other tools as you see fit and observe its contents.  Review the metadata definitions linked to above.  Describe what you see:  What do all the columns mean?  Are there null values?  Which columns interest you the most?  Which columns present some complications or questions you would like to ask?

Insert a combination of code and text/markdown cells here to review the data and describe what you find.

### What do the columns mean ?



FACILITY_NAME: Facility where the inspection occurred

FACILITY_KEY: Unique code to identify each facility

SITE_ADDRESS: Street address of the facility

CITY: City where the facility is located

STATE: State where the facility is located

ZIP: Zip code of the facility 

OWNER_KEY: A unique code to identify the owner of the facility at the time of the inspection

OWNER_NAME: Name of the owner of the facility at the time of the inspection

NATURE_OF_BUSINESS: The type of business the facility is involved in

STREET_NUMBER: Street number of the facility where the inspection occurred

STREET_NAME: Street name of the facility where the inspection occurred

STREET_TYPE: Street type of the facility where the inspection occurred

POST_DIRECTIONAL: Postal direction of the facility where the inspection occurred

PHONE: Phone number of the facility where the inspection occurred

PROGRAM_CATEGORY: Id that indicates the type of facility permit the inspection was performed

PROGRAM_CATEGORY_DES: Description of the id that indicates the type of facility

CRIPTION: Permit the inspection was performed

INSPECTION_DATE: Date the inspection occurred

INSPECTION_TYPE: Code for type of inspection

INSPECTION_DESC: Description of the inspection

SERIAL_NUM: Unique ID to identify each inspection activity. If there are multiple rows with the same OWNER_ID and INSPECTION_DATE and SERIAL_NUM, it means that there were multiple rows created for one inspection (multiple results were recorded). If there are multiple rows with the same OWNER_ID and INSPECTION_DATE and a different SERIAL_NUM, it means that there were multiple inspections taken on the same day

ACTION_CODE: Code of action taken. 00 indicates that the inspector was unable to perform the inspection. The result code documents the situation

ACTION_DESC: Description of the action taken

RESULT_CODE: Code of the result of the inspection

RESULT_DESC: Description of the result of the inspection

VIOLATION_CODE: The code for the violation

VIOLATION_DESC: Description of the violation that was found

INSPECTION_MEMO: Notes of the inspection made by the inspector

### Are there null values?

In [2]:
!csvstat abq-food-inspections-fy2010.csv

  1. FACILITY_NAME
	<class 'str'>
	Nulls: False
	Unique values: 2615
	5 most frequent values:
		SMITHS FOOD AND DRUG CENTERS INC:	154
		ISOTOPES PARK - OVATIONS:	93
		PER EHSII CECELIA GARCIA OOB LA REYNA DEL SUR:	85
		ECHO INC:	68
		ISLETA AMPHITHEATER:	68
	Max length: 77
  2. FACILITY_KEY
	<class 'int'>
	Nulls: False
	Min: 13
	Max: 101482
	Sum: 820405773
	Mean: 46730.79135338346
	Median: 50866.0
	Standard Deviation: 32659.794578837962
	Unique values: 2835
	5 most frequent values:
		46323:	93
		65863:	85
		32817:	68
		80949:	68
		91825:	66
  3. SITE_ADDRESS
	<class 'str'>
	Nulls: True
	Unique values: 2456
	5 most frequent values:
		1601 AVENIDA CESAR CHAVEZ SE:	94
		644 OLD COORS BLVD SW:	85
		8601 CENTRAL AV NE:	77
		2200 SUNPORT BLVD SE:	75
		5210 CENTRAL AV SE:	73
	Max length: 35
  4. CITY
	<class 'str'>
	Nulls: False
	Values: ALBUQUERQUE
  5. STATE
	<class 'str'>
	Nulls: False
	Values: NM, 87
  6. ZIP
	<class 'str'>
	Nulls: False
	Unique values: 48
	5 most frequent values:
		87110:	1996
		87108:	1976
		87102:	1601
		87106:	1568
		87109:	1552
	Max length: 10
  7. OWNER_KEY
	<class 'int'>
	Nulls: False
	Min: 11
	Max: 87302
	Sum: 644760848
	Mean: 36725.953975848715
	Median: 33747.0
	Standard Deviation: 29428.207216739836
	Unique values: 1892
	5 most frequent values:
		1838:	792
		3537:	321
		1272:	228
		36280:	156
		80274:	155
  8. OWNER_NAME
	<class 'str'>
	Nulls: False
	Unique values: 1852
	5 most frequent values:
		APS:	792
		SMITHS FOOD AND DRUG CENTERS INC:	321
		CIRCLE K STORES INC:	277
		ALBERTSONS:	228
		WAL MART STORES EAST  LP:	156
	Max length: 82
  9. NATURE_OF_BUSINESS
	<class 'str'>
	Nulls: True
	Unique values: 594
	5 most frequent values:
		RESTAURANT:	4994
		FOOD SERVICE:	691
		GROCERY:	618
		BAR/RESTAURANT:	508
		APS SCHOOL FOOD SERVICE:	470
	Max length: 25
 10. STREET_NUMBER
	<class 'str'>
	Nulls: True
	Unique values: 1349
	5 most frequent values:
		6600:	216
		10000:	152
		300:	143
		2200:	127
		8100:	125
	Max length: 7
 11. STREET_NAME
	<class 'str'>
	Nulls: True
	Unique values: 404
	5 most frequent values:
		CENTRAL:	1898
		MENAUL:	928
		COORS:	918
		MONTGOMERY:	727
		SAN MATEO:	707
	Max length: 24
 12. STREET_TYPE
	<class 'str'>
	Nulls: True
	Unique values: 13
	5 most frequent values:
		BLVD:	7636
		AV:	3005
		ST:	2065
		RD:	1900
		DR:	995
	Max length: 4
 13. POST_DIRECTIONAL
	<class 'str'>
	Nulls: True
	Values: NW, NE, SE, N, SW
 14. PHONE
	<class 'int'>
	Nulls: True
	Min: 2471094
	Max: 505345566137310
	Sum: 2608539289633190
	Mean: 161719732773.29138
	Median: 5053454060.0
	Standard Deviation: 8895791545525.992
	Unique values: 2279
	5 most frequent values:
		9153321301:	101
		3037929467:	100
		5052224033:	94
		3109680646:	85
		5052426777:	68
 15. PROGRAM_CATEGORY
	<class 'str'>
	Nulls: False
	Unique values: 25
	5 most frequent values:
		0406:	7969
		0601:	1159
		0607:	894
		0606:	865
		0501:	832
	Max length: 4
 16. PROGRAM_CATEGORY_DESCRIPTION
	<class 'str'>
	Nulls: True
	Unique values: 24
	5 most frequent values:
		Food Service Establishment:	7969
		Retail -Grocery:	1159
		Retail - Self Service & Prepackage Foods:	894
		Retail - Prepackage Only:	865
		Bar:	832
	Max length: 40
 17. INSPECTION_DATE
	<class 'datetime.date'>
	Nulls: False
	Min: 2009-07-01
	Max: 2010-06-30
	Unique values: 258
	5 most frequent values:
		2009-12-16:	184
		2009-09-10:	159
		2009-09-25:	148
		2009-11-04:	133
		2009-10-01:	131
 18. INSPECTION_TYPE
	<class 'NoneType'>
	Nulls: True
	Values:
 19. INSPECTION_DESC
	<class 'str'>
	Nulls: False
	Unique values: 15
	5 most frequent values:
		ROUTINE FOOD INSPECTION:	12439
		EMERGENCY RESPONSE:	1987
		New Business Inspection:	1005
		PRE-OPENING FOOD INSPECTION:	743
		ADDITIONAL SERVICE PROVIDED:	439
	Max length: 32
 20. SERIAL_NUM
	<class 'str'>
	Nulls: False
	Unique values: 9046
	5 most frequent values:
		DA0047720:	61
		DA0045731:	61
		DA0047290:	61
		DA0059230:	61
		DA0045676:	61
	Max length: 9
 21. ACTION_CODE
	<class 'str'>
	Nulls: False
	Unique values: 8
	5 most frequent values:
		11:	14080
		00:	2800
		09:	382
		06:	264
		10:	21
	Max length: 2
 22. ACTION_DESC
	<class 'str'>
	Nulls: False
	Unique values: 8
	5 most frequent values:
		APPROVED:	14080
		NON-GRADED:	2800
		ANNUAL STICKER ISSUED:	382
		UNSATISFACTORY:	264
		ANNUAL STICKER NOT ISSUED:	21
	Max length: 34
 23. RESULT_CODE
	<class 'str'>
	Nulls: False
	Unique values: 19
	5 most frequent values:
		03:	14389
		00:	2416
		05:	214
		22:	142
		18:	104
	Max length: 2
 24. RESULT_DESC
	<class 'str'>
	Nulls: False
	Unique values: 19
	5 most frequent values:
		IN COMPLIANCE:	14389
		NOT APPLICABLE:	2416
		DOWNGRADE:	214
		OUT OF BUSINESS:	142
		TRAINING RECEIVED:	104
	Max length: 37
 25. VIOLATION_CODE
	<class 'str'>
	Nulls: True
	Unique values: 128
	5 most frequent values:
		55:	6348
		00:	3429
		68:	1658
		42:	487
		35:	441
	Max length: 10
 26. VIOLATION_DESC
	<class 'str'>
	Nulls: True
	Unique values: 70
	5 most frequent values:
		Additional Comments:	6353
		No Violations Found:	3434
		Delivered Informational Brochure:	1657
		Plumbing: Improperly installed/maintained/supplied:	492
		Non-Food contact surfaces:	446
	Max length: 50
 27. INSPECTION_MEMO
	<class 'NoneType'>
	Nulls: True
	Values:

Row count: 17556

#### Null values:
SITE_ADDRESS, NATURE_OF_BUSINESS, STREET_NUMBER, STREET_NAME, STREET_TYPE, POST_DIRECTIONAL, PHONE, PROGRAM_CATEGORY_DESCRIPTION, INSPECTION_TYPE, VIOLATION_CODE, VIOLATION_DESC and INSPECTION_MEMO have null values as they have Nulls: true

In [3]:
!head -30 abq-food-inspections-fy2010.csv | csvcut -c7,8 | csvlook

|------------+--------------------------|
|  OWNER_KEY | OWNER_NAME               |
|------------+--------------------------|
|  47341     | OOBSAY IT WITH CAKE      |
|  47341     | OOBSAY IT WITH CAKE      |
|  47341     | OOBSAY IT WITH CAKE      |
|  47341     | OOBSAY IT WITH CAKE      |
|  47341     | OOBSAY IT WITH CAKE      |
|  29294     | 2000 VIETMAN RESTAURANT  |
|  29294     | 2000 VIETMAN RESTAURANT  |
|  29294     | 2000 VIETMAN RESTAURANT  |
|  66644     | 328 CHINESE CUISINE      |
|  66644     | 328 CHINESE CUISINE      |
|  66644     | 328 CHINESE CUISINE      |
|  66644     | 328 CHINESE CUISINE      |
|  66644     | 328 CHINESE CUISINE      |
|  82383     | 5 STAR ABQ INC           |
|  82383     | 5 STAR ABQ INC           |
|  82383     | 5 STAR ABQ INC           |
|  6743      | 66 DINER                 |
|  6743      | 66 DINER                 |
|  6743      | 66 DINER                 |
|  1838      | APS                      |
|  1838      | APS                      |
|  1838      | APS                      |
|  1838      | APS                      |
|  1838      | APS                      |
|  19642     | SCS BEVERAGE INC         |
|  19642     | SCS BEVERAGE INC         |
|  19642     | SCS BEVERAGE INC         |
|  19642     | SCS BEVERAGE INC         |
|  19642     | SCS BEVERAGE INC         |
|------------+--------------------------|

In [4]:
!head abq-food-inspections-fy2010.csv | csvcut -c3,4,5,10,11,12,13 | csvlook

|--------------------------------+-------------+-------+---------------+-------------+-------------+-------------------|
|  SITE_ADDRESS                  | CITY        | STATE | STREET_NUMBER | STREET_NAME | STREET_TYPE | POST_DIRECTIONAL  |
|--------------------------------+-------------+-------+---------------+-------------+-------------+-------------------|
|  10200 GOLF COURSE RD NW STE B | ALBUQUERQUE | NM    | 10200         | GOLF COURSE | RD          | NW                |
|  10200 GOLF COURSE RD NW STE B | ALBUQUERQUE | NM    | 10200         | GOLF COURSE | RD          | NW                |
|  10200 GOLF COURSE RD NW STE B | ALBUQUERQUE | NM    | 10200         | GOLF COURSE | RD          | NW                |
|  10200 GOLF COURSE RD NW STE B | ALBUQUERQUE | NM    | 10200         | GOLF COURSE | RD          | NW                |
|  10200 GOLF COURSE RD NW STE B | ALBUQUERQUE | NM    | 10200         | GOLF COURSE | RD          | NW                |
|  601 SAN MATEO BLVD SE         | ALBUQUERQUE | NM    | 601           | SAN MATEO   | BLVD        | SE                |
|  601 SAN MATEO BLVD SE         | ALBUQUERQUE | NM    | 601           | SAN MATEO   | BLVD        | SE                |
|  601 SAN MATEO BLVD SE         | ALBUQUERQUE | NM    | 601           | SAN MATEO   | BLVD        | SE                |
|  5617 MENAUL BLVD NE STE A     | ALBUQUERQUE | NM    | 5617          | MENAUL      | BLVD        | NE                |
|--------------------------------+-------------+-------+---------------+-------------+-------------+-------------------|

In [5]:
!head -30 abq-food-inspections-fy2010.csv | csvcut -c15,16,21,22 | csvlook

|-------------------+------------------------------------------+-------------+--------------|
|  PROGRAM_CATEGORY | PROGRAM_CATEGORY_DESCRIPTION             | ACTION_CODE | ACTION_DESC  |
|-------------------+------------------------------------------+-------------+--------------|
|  0405             | Food Processor                           | 00          | NON-GRADED   |
|  0405             | Food Processor                           | 11          | APPROVED     |
|  0405             | Food Processor                           | 11          | APPROVED     |
|  0405             | Food Processor                           | 11          | APPROVED     |
|  0405             | Food Processor                           | 11          | APPROVED     |
|  0406             | Food Service Establishment               | 11          | APPROVED     |
|  0406             | Food Service Establishment               | 11          | APPROVED     |
|  0406             | Food Service Establishment               | 11          | APPROVED     |
|  0406             | Food Service Establishment               | 00          | NON-GRADED   |
|  0406             | Food Service Establishment               | 11          | APPROVED     |
|  0406             | Food Service Establishment               | 11          | APPROVED     |
|  0406             | Food Service Establishment               | 11          | APPROVED     |
|  0406             | Food Service Establishment               | 11          | APPROVED     |
|  0406             | Food Service Establishment               | 11          | APPROVED     |
|  0406             | Food Service Establishment               | 11          | APPROVED     |
|  0406             | Food Service Establishment               | 11          | APPROVED     |
|  0406             | Food Service Establishment               | 00          | NON-GRADED   |
|  0406             | Food Service Establishment               | 11          | APPROVED     |
|  0406             | Food Service Establishment               | 11          | APPROVED     |
|  0408             | School                                   | 00          | NON-GRADED   |
|  0408             | School                                   | 11          | APPROVED     |
|  0408             | School                                   | 11          | APPROVED     |
|  0408             | School                                   | 11          | APPROVED     |
|  0408             | School                                   | 11          | APPROVED     |
|  0607             | Retail - Self Service & Prepackage Foods | 11          | APPROVED     |
|  0607             | Retail - Self Service & Prepackage Foods | 11          | APPROVED     |
|  0607             | Retail - Self Service & Prepackage Foods | 11          | APPROVED     |
|  0607             | Retail - Self Service & Prepackage Foods | 11          | APPROVED     |
|  0607             | Retail - Self Service & Prepackage Foods | 11          | APPROVED     |
|-------------------+------------------------------------------+-------------+--------------|

In [6]:
!head -30 abq-food-inspections-fy2010.csv | csvcut -c25,26 | csvlook

|-----------------+-----------------------------------|
|  VIOLATION_CODE | VIOLATION_DESC                    |
|-----------------+-----------------------------------|
|      68         | Delivered Informational Brochure  |
|      00         | No Violations Found               |
|      55         | Additional Comments               |
|      00         | No Violations Found               |
|      55         | Additional Comments               |
|      34         | Food contact surfaces             |
|      35         | Non-Food contact surfaces         |
|      55         | Additional Comments               |
|      68         | Delivered Informational Brochure  |
|      00         | No Violations Found               |
|      55         | Additional Comments               |
|      00         | No Violations Found               |
|      55         | Additional Comments               |
|                 |                                   |
|      00         | No Violations Found               |
|      55         | Additional Comments               |
|      68         | Delivered Informational Brochure  |
|      00         | No Violations Found               |
|      55         | Additional Comments               |
|      68         | Delivered Informational Brochure  |
|      00         | No Violations Found               |
|      55         | Additional Comments               |
|      00         | No Violations Found               |
|      55         | Additional Comments               |
|      02         | Hot Holding                       |
|      55         | Additional Comments               |
|      00         | No Violations Found               |
|      55         | Additional Comments               |
|      26         | Evidence of insects               |
|-----------------+-----------------------------------|

In [7]:
!head -20 abq-food-inspections-fy2010.csv | csvcut -c18 | csvlook

|-------------------|
|  INSPECTION_TYPE  |
|-------------------|
|  |
|  |
|  |
|  |
|  |
|  |
|  |
|  |
|  |
|  |
|  |
|  |
|  |
|  |
|  |
|  |
|  |
|  |
|  |
|-------------------|

###  Which columns interest you the most? Which columns present some complications or questions you would like to ask?

OWNER_KEY, STREET_NUMBER, STREET_NAME, STREET_TYPE, PROGRAM_CATEGORY, INSPECTION_TYPE, ACTION_CODE, RESULT_CODE AND VIOLATION_CODE interest me the most. The same columns are the ones for which I would like to raise some issues:

The column INSPECTION_TYPE is blank which questions the existence of this column in the data.

Address is already captured in one column, there is no need to have separate columns like STREET_NAME, STREET_TYPE etc.

The other columns, shown above, have another column adjacent to them providing similar information resulting in redundancy. Having a foreign key pulling description and other information would have made more sense

## Problem 2 - define a database model and load the data (35 points)

Based on what you found above, create and connect to a new database, define a database table in it, and load this dataset into it.  You may use either of the methods for this step you have seen in earlier class notebooks.  You may choose to eliminate variables/columns if they are not relevant or interesting to you - explain your reasoning if you do.  Either way, you should load a majority of the columns present in the source dataset into the database and all of its rows.

Once your data has loaded successfully, run a `COUNT(*)` query to verify that all the data has loaded correctly.

Insert a combination of code and text/markdown cells here to connect to your database, define your table, load its data, and verify the loaded records.

In [8]:
%load_ext sql

/opt/conda/lib/python3.5/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/opt/conda/lib/python3.5/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [9]:
!echo 'redspot' | sudo -S service postgresql restart

[sudo] password for jovyan: Restarting PostgreSQL 9.5 database server: main.

Creating database inspections and connecting to it

In [10]:
!createdb -U dbuser inspections

createdb: database creation failed: ERROR:  database "inspections" already exists

Dropping columns STREET_NUMBER, STREET_NAME, STREET_TYPE and INSPECTION_TYPE from the original data. Address information already exists in SITE_ADDRESS and INSPECTION_TYPE is black across all rows

In [11]:
!csvcut -c1,2,3,4,5,6,7,8,9,13,14,15,16,17,19,20,21,22,23,24,25,26,27 abq-food-inspections-fy2010.csv >inspec.csv

In [12]:
%sql postgresql://dbuser@localhost:5432/inspections

'Connected: dbuser@inspections'

In [13]:
%%sql
DROP TABLE IF EXISTS inspection;
CREATE TABLE inspection (
    facility_name VARCHAR(100),
    facility_key VARCHAR(6),
    site_address VARCHAR(60),
    city VARCHAR(20),
    state CHAR(2),
    zipcode VARCHAR(10),
    owner_key CHAR(5),
    owner_name VARCHAR(100),
    nature_of_business VARCHAR(60),
    post_directional CHAR(2),
    phone VARCHAR(25),
    program_category VARCHAR(4),
    program_category_description VARCHAR(60),
    inspection_date TIMESTAMP(0),
    inspection_desc VARCHAR(64),
    serial_num CHAR(9),
    action_code VARCHAR(4),
    action_desc VARCHAR(60),
    result_code VARCHAR(4),
    result_desc VARCHAR(64),
    violation_code VARCHAR(20),
    violation_desc VARCHAR(64),
    inspection_memo VARCHAR(60)
);

Done.
Done.

[]

In [14]:
!pwd

/home/jovyan/work

In [15]:
%%sql
COPY inspection 
FROM '/home/jovyan/work/inspec.csv'
CSV
HEADER
QUOTE '"'
DELIMITER ',';

17556 rows affected.

[]

In [16]:
%%sql 
Select count(*)
From inspection;

1 rows affected.

[(17556,)]

## Problem 3 - explore your data (30 points)

Now that the data is loaded, ask some questions of it!  Identify key variables of interest and note their ranges along with other useful descriptive statistics.  Choose and define a few lines of inquiry, execute queries for each, and describe what you find in your result sets.  Use any query techniques we've seen in class, including aggregate functions, transformations, subqueries, or others as appropriate. 

If you find interesting patterns, adding plots to your exploration would be useful.

Insert a combination of code and text/markdown cells here to explore your data.

#### Which type of inspection is the most common ?

In [17]:
%%sql
Select inspection_desc, count(*)
From inspection
Group By(inspection_desc)
Order by count desc
Limit 10;

10 rows affected.

[('ROUTINE FOOD INSPECTION', 12439),
 ('EMERGENCY RESPONSE', 1987),
 ('New Business Inspection', 1005),
 ('PRE-OPENING FOOD INSPECTION', 743),
 ('ADDITIONAL SERVICE PROVIDED', 439),
 ('MOBILE UNIT FOOD INSPECTION', 377),
 ('PHONE CALL', 247),
 ('FOOD FOLLOW-UP INSPECTION', 143),
 ('FOLLOW-UP DOCUMENTATION RECEIVED', 75),
 ('MANAGERIAL ASSISTANCE', 54)]

Food inspections are way higher than other type of inspections

#### Which zip codes had the highest number of inspections?

In [18]:
%%sql
Select zipcode, count(*)
From inspection
Group By(zipcode)
Order by count desc
Limit 10;

10 rows affected.

[('87110', 1996),
 ('87108', 1976),
 ('87102', 1601),
 ('87106', 1568),
 ('87109', 1552),
 ('87107', 1186),
 ('87112', 1151),
 ('87114', 1053),
 ('87123', 1017),
 ('87111', 1008)]

Numbers don't look abnormal here. Some zip codes could have huge number of restaurants, explaining why there are more inspections in that zip code than others.

Let's dive deep into routine food inspections

#### What were the results of routine food inspections?

In [19]:
%%sql
Select result_desc, count(*)
From inspection
where inspection_desc='ROUTINE FOOD INSPECTION'
Group By(result_desc)
Order by count desc
Limit 10;

8 rows affected.

[('IN COMPLIANCE', 12245),
 ('DOWNGRADE', 156),
 ('NOT APPLICABLE', 21),
 ('IMMEDIATE CLOSURE', 9),
 ('NOTICE', 3),
 ('PERMIT SUSPENSION', 2),
 ('NOT IN COMPLIANCE', 2),
 ('VOLUNTARY CLOSURE', 1)]

Most inspections found the facilities to be in compliance with set standards

#### What types of violations were most common?

In [20]:
%%sql
Select violation_desc, count(*)
From inspection
Group By(violation_desc)
Order by count desc
Limit 10;

10 rows affected.

[('Additional Comments', 6353),
 ('No Violations Found', 3434),
 ('Delivered Informational Brochure', 1657),
 (None, 1009),
 ('Plumbing: Improperly installed/maintained/supplied', 492),
 ('Non-Food contact surfaces', 446),
 ('Improper sanitizing', 434),
 ('Food unprotected', 425),
 ('Floors, Walls, Ceilings', 406),
 ('Food contact surfaces', 251)]

In [21]:
%%sql
Select program_category_description, count(*)
From inspection
Where violation_desc not in ('No Violations Found', 'None', 'Additional Comments', 'Delivered Informational Brochure') 
Group By(program_category_description)
Order by count desc
Limit 10;

10 rows affected.

[('Food Service Establishment', 2883),
 ('Retail - Self Service & Prepackage Foods', 406),
 ('Retail -Grocery', 240),
 ('Childcare', 185),
 ('Bar', 169),
 ('Retail - Prepackage Only', 158),
 ('School', 133),
 ('Retail - Deli', 114),
 ('Limited Menu', 114),
 ('Bakery', 107)]

Most number of violations were made by Food Service Establishments

#### What was the most common action taken against violators?

In [22]:
%%sql
Select result_desc, count(*)
From inspection
Where action_desc not in ('APPROVED', 'NON-GRADED', 'ANNUAL STICKER ISSUED') 
Group By(result_desc)
Order by count desc
Limit 10;

7 rows affected.

[('DOWNGRADE', 214),
 ('IMMEDIATE CLOSURE', 45),
 ('NOT IN COMPLIANCE', 21),
 ('IN COMPLIANCE', 10),
 ('PERMIT SUSPENSION', 2),
 ('PERMISSION TO OPERATE', 1),
 ('EMBARGO', 1)]

#### Which facilities had multiple violations?

In [23]:
%%sql
Select facility_name, count(*)
From inspection
Where action_desc not in ('APPROVED', 'NON-GRADED', 'ANNUAL STICKER ISSUED') 
Group By(facility_name)
Order by count desc
Limit 10;

10 rows affected.

[('OOB CAFE AND BILLIARDS LANG THANG', 19),
 ('OOB POP N TACO DRIVE UP INC.', 17),
 ('OOB PER WRITTEN REQUEST 12/23/13 SCHLOTZSKYS DELI', 16),
 ('CHILE ADDICT', 15),
 ('RUBENS INC', 13),
 ('OOB PER EHSII ZAHRA 01/01/14 DHAKA BAZAAR USA', 13),
 ('GODIVA CHOCOLATIER INC', 12),
 ('OOB MARKET FRESH CAFE', 12),
 ('OOB SMOKIN DJS', 12),
 ('STUFYS DRIVE THRU', 11)]

#### Which months saw the maximum number of violations?

In [24]:
%%sql
Select extract(month from INSPECTION_DATE) as month, count(*)
from inspection
Where violation_desc not in ('No Violations Found', 'None', 'Additional Comments', 'Delivered Informational Brochure') 
Group By(month)
Order by count desc
limit 10;

10 rows affected.

[(12.0, 556),
 (3.0, 535),
 (4.0, 460),
 (11.0, 446),
 (2.0, 445),
 (9.0, 445),
 (10.0, 441),
 (7.0, 438),
 (8.0, 405),
 (1.0, 395)]

#### Did violations decrease in 2010 when compared with 2009?

In [25]:
%%sql
Select extract(year from INSPECTION_DATE) as year, count(*)
from inspection
Where violation_desc not in ('No Violations Found', 'None', 'Additional Comments', 'Delivered Informational Brochure') 
Group By(year)
Order by count desc
limit 10;

2 rows affected.

[(2009.0, 2731), (2010.0, 2372)]

## Bonus (10 points)

We have seen a few simple techniques for normalizing data in class.  Choose a column or set of columns that might be redundant and normalize them out to another table:

* Identify the columns to normalize in the source data table
* Create one or more new tables to hold the normalized records
* Extract data into the new tables
* Re-insert the new foreign key references from the new table into the source table

The most repeated values are those associated with the demographics of a facility. Normalizing them shall reduce redundancy.
Therefore, a new table capturing facility demographics is created and a corresponding foreign key is added in the parent inspection table.

In [26]:
%%sql
Drop Table if Exists facility;
CREATE TABLE facility AS
Select distinct(facility_key),
facility_name,
site_address,
city,
state,
zipcode,
owner_key,
owner_name,
nature_of_business,
phone
from inspection;

Done.
2835 rows affected.

[]

In [27]:
%%sql
select * from facility
limit 10;

10 rows affected.

[('51985', 'OOB 04.22.13 AZUMA SUSHI & TEPPAN', '4701 SAN MATEO NE STE #A', 'ALBUQUERQUE', 'NM', '87110', '48682', 'AZUMA SUSHI & TEPPAN', 'RESTAURANT', '5058809800'),
 ('62915', 'OOB ST TIMOTHYS EVANGELICAL LUTHERAN CH', '211 JEFFERSON ST NE ', 'ALBUQUERQUE', 'NM', '87108', '57942', 'ST TIMOTHYS CHURCH', 'CHURCH KITCHEN', '5052558001'),
 ('3488', 'GIANT 6027', '6104 ACADEMY RD NE ', 'ALBUQUERQUE', 'NM', '87109', '2860 ', 'WESTERN REFINING SOUTHWEST INC', 'GROCERY', '6025858723'),
 ('46359', 'MCDONALDS', '301 SAN MATEO BLVD SE', 'ALBUQUERQUE', 'NM', '87108', '43638', 'PAND ENTERPRISES INC', 'FAST FOOD', '5052686140'),
 ('87360', 'OOB DCA SNACKBAR AT WEST MESA POOL', '6701 FORTUNA RD NW ', 'ALBUQUERQUE', 'NM', '87120', '79374', 'DUKE CITY AQUATICS FOUNDATION', 'SNACK BAR', '5058398708'),
 ('71596', 'OOB NOTHING BUT NOODLES #1', '5901 P2 WYOMONG BLVD NE ', 'ALBUQUERQUE', 'NM', '87109', '65570', 'ANTHONY LE', 'RESTAURANT', None),
 ('87091', 'PAPA JOHNS PIZZA 1342', '4000 SAN MATEO ST NE ', 'ALBUQUERQUE', 'NM', '87110', '79168', 'DCT ENTERPRISES OF NM LLC', 'RESTAURANT', '5058847272'),
 ('92052', 'OOB CHUCK WAGON', '11412 GRAND MESA RD SE ', 'ALBUQUERQUE', 'NM', '87123', '83403', 'NIKI LYNCH', 'MOBILE FOOD UNIT', '5057307611'),
 ('2129', 'BEL AIR ELEMENTARY', '4725 CANDELARIA RD NE ', 'ALBUQUERQUE', 'NM', '87110', '1838 ', 'APS', 'APS SCHOOL FOOD SERVICE', None),
 ('89443', 'RODOLFO ANAYA ELEMENTARY', '2800 VERMEJO PARK DR SW ', 'ALBUQUERQUE', 'NM', '87121', '1838 ', 'APS', 'APS SCHOOL FOOD SERVICE', '5054523137')]

Making facility key primary key in the facility table so that it can be used as foreign key in the inspection table

In [28]:
%%sql
Alter table facility 
Add Primary Key(facility_key);

Done.

[]

Adding foreign key in the inspection table

In [29]:
%%sql
Alter table inspection
Add CONSTRAINT facility_key
Foreign Key (facility_key) 
References facility (facility_key) MATCH FULL;

Done.

[]

In [30]:
%%sql
select * from inspection
limit 10;

10 rows affected.

[('00BSAY IT WITH CAKE', '50534', '10200 GOLF COURSE RD NW STE B', 'ALBUQUERQUE', 'NM', '87114', '47341', 'OOBSAY IT WITH CAKE', 'CAKE DECORATING', 'NW', '5058339563', '0405', 'Food Processor', datetime.datetime(2009, 10, 21, 0, 0), 'EMERGENCY RESPONSE', 'DA8009125', '00', 'NON-GRADED', '00', 'NOT APPLICABLE', '    68    ', 'Delivered Informational Brochure', None),
 ('00BSAY IT WITH CAKE', '50534', '10200 GOLF COURSE RD NW STE B', 'ALBUQUERQUE', 'NM', '87114', '47341', 'OOBSAY IT WITH CAKE', 'CAKE DECORATING', 'NW', '5058339563', '0405', 'Food Processor', datetime.datetime(2009, 10, 21, 0, 0), 'ROUTINE FOOD INSPECTION', 'DA8009123', '11', 'APPROVED', '03', 'IN COMPLIANCE', '    00    ', 'No Violations Found', None),
 ('00BSAY IT WITH CAKE', '50534', '10200 GOLF COURSE RD NW STE B', 'ALBUQUERQUE', 'NM', '87114', '47341', 'OOBSAY IT WITH CAKE', 'CAKE DECORATING', 'NW', '5058339563', '0405', 'Food Processor', datetime.datetime(2009, 10, 21, 0, 0), 'ROUTINE FOOD INSPECTION', 'DA8009123', '11', 'APPROVED', '03', 'IN COMPLIANCE', '    55    ', 'Additional Comments', None),
 ('00BSAY IT WITH CAKE', '50534', '10200 GOLF COURSE RD NW STE B', 'ALBUQUERQUE', 'NM', '87114', '47341', 'OOBSAY IT WITH CAKE', 'CAKE DECORATING', 'NW', '5058339563', '0405', 'Food Processor', datetime.datetime(2010, 4, 14, 0, 0), 'ROUTINE FOOD INSPECTION', 'DA8010205', '11', 'APPROVED', '03', 'IN COMPLIANCE', '    00    ', 'No Violations Found', None),
 ('00BSAY IT WITH CAKE', '50534', '10200 GOLF COURSE RD NW STE B', 'ALBUQUERQUE', 'NM', '87114', '47341', 'OOBSAY IT WITH CAKE', 'CAKE DECORATING', 'NW', '5058339563', '0405', 'Food Processor', datetime.datetime(2010, 4, 14, 0, 0), 'ROUTINE FOOD INSPECTION', 'DA8010205', '11', 'APPROVED', '03', 'IN COMPLIANCE', '    55    ', 'Additional Comments', None),
 ('2000 VIETNAM RESTAURANT', '31468', '601 SAN MATEO BLVD SE ', 'ALBUQUERQUE', 'NM', '87108', '29294', '2000 VIETMAN RESTAURANT', 'RESTAURANT', 'SE', '5052320900', '0406', 'Food Service Establishment', datetime.datetime(2010, 3, 23, 0, 0), 'ROUTINE FOOD INSPECTION', 'DA8509472', '11', 'APPROVED', '03', 'IN COMPLIANCE', '    34    ', 'Food contact surfaces', None),
 ('2000 VIETNAM RESTAURANT', '31468', '601 SAN MATEO BLVD SE ', 'ALBUQUERQUE', 'NM', '87108', '29294', '2000 VIETMAN RESTAURANT', 'RESTAURANT', 'SE', '5052320900', '0406', 'Food Service Establishment', datetime.datetime(2010, 3, 23, 0, 0), 'ROUTINE FOOD INSPECTION', 'DA8509472', '11', 'APPROVED', '03', 'IN COMPLIANCE', '    35    ', 'Non-Food contact surfaces', None),
 ('2000 VIETNAM RESTAURANT', '31468', '601 SAN MATEO BLVD SE ', 'ALBUQUERQUE', 'NM', '87108', '29294', '2000 VIETMAN RESTAURANT', 'RESTAURANT', 'SE', '5052320900', '0406', 'Food Service Establishment', datetime.datetime(2010, 3, 23, 0, 0), 'ROUTINE FOOD INSPECTION', 'DA8509472', '11', 'APPROVED', '03', 'IN COMPLIANCE', '    55    ', 'Additional Comments', None),
 ('328 CHINESE CUISINE', '72789', '5617 MENAUL BLVD NE STE A', 'ALBUQUERQUE', 'NM', '87110', '66644', '328 CHINESE CUISINE', None, 'NE', '5058814468', '0406', 'Food Service Establishment', datetime.datetime(2009, 12, 15, 0, 0), 'EMERGENCY RESPONSE', 'DA7757250', '00', 'NON-GRADED', '00', 'NOT APPLICABLE', '    68    ', 'Delivered Informational Brochure', None),
 ('328 CHINESE CUISINE', '72789', '5617 MENAUL BLVD NE STE A', 'ALBUQUERQUE', 'NM', '87110', '66644', '328 CHINESE CUISINE', None, 'NE', '5058814468', '0406', 'Food Service Establishment', datetime.datetime(2009, 12, 15, 0, 0), 'ROUTINE FOOD INSPECTION', 'DA7757248', '11', 'APPROVED', '03', 'IN COMPLIANCE', '    00    ', 'No Violations Found', None)]

Finally deleting facility demographics from the parent table 'inspection'

In [31]:
%%sql 
Alter table inspection
Drop Column facility_name,
Drop Column site_address,
Drop Column city,
Drop Column state,
Drop Column zipcode,
Drop Column owner_key,
Drop Column owner_name,
Drop Column nature_of_business,
Drop Column phone;

Done.

[]